*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Verdana", serif;
  font-weight: 100;
  font-size: 1.063rem;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 0 7.8rem;
}
.nav__title {
  text-decoration: none;
  color: #335576;
}
.nav__ul {
  list-style: none;
  display: flex;
}
.nav__li {
  margin: 0.7rem;
  font-size: 1.17rem;
}
.nav__a {
  text-decoration: none;
  color: black;
}
.nav__a--active {
  padding: 0.6rem 0;
  border-bottom: 3px solid #DB7A4E;
}

.footer {
  height: 15.313rem;
  background-color: #FEFAF5;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #335576;
  padding-top: 2rem;
}
.footer__hours {
  display: flex;
  flex-direction: column;
  width: 33.75rem;
  height: 8.4rem;
}
.footer__hours-container {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  font-size: 0.8rem;
  color: #DB7A4E;
}
.footer__social {
  height: 7.5rem;
}
.footer__title {
  font-size: 1.8rem;
}
.footer__image {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
  height: 2rem;
  width: 10.313rem;
}

.hero {
  height: 40rem;
  background-color: #FEFAF5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2.9rem;
}
.hero__slogan {
  width: 45rem;
  color: #335576;
}
.hero__title {
  font-size: 2.813rem;
}
.hero__p {
  line-height: 1.6rem;
  font-size: 1.2rem;
}
.hero__image {
  height: 28.75rem;
  width: 35rem;
}

.recommendation {
  height: 46.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recommendation__title {
  width: 100%;
  font-size: 1.8rem;
  margin-top: -4rem;
  margin-bottom: 2rem;
  padding-left: 7.5rem;
  color: #335576;
}
.recommendation__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommendation__card {
  width: 21.25rem;
  height: 31.563rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  margin: 0 1.5rem;
  color: white;
  position: relative;
}
.recommendation__card--hawaii {
  background-image: url("../assets/images/hawaii.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recommendation__card--iceland {
  background-image: url("../assets/images/iceland.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recommendation__card--greece {
  background-image: url("../assets/images/greece.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.recommendation__content {
  position: absolute;
  bottom: 0.2rem;
  right: 1.2rem;
  font-size: 1.8rem;
}

.primary__button {
  font-size: 1.2rem;
  width: 12.75rem;
  height: 2.75rem;
  background-color: #DB7A4E;
  color: white;
  border-radius: 25px;
  border: none;
  letter-spacing: 0.06rem;
}

/*# sourceMappingURL=main.css.map */
