@use './partials/global' as *;

.hero {
  height: 40rem;
  background-color: #FEFAF5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2.9rem;

  &__slogan {
    width: 45rem;
    color: #335576;
  }

  &__title {
    font-size: 2.813rem;
  }

  &__p {
    line-height: 1.6rem;
    font-size: 1.2rem;
  }

  &__image {
    height: 28.75rem;
    width: 35rem;
  }
}

.recommendation {
  height: 46.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    width: 100%;
    font-size: 1.8rem;
    margin-top: -4rem;
    margin-bottom: 2rem;
    padding-left: 7.5rem;
    color: #335576;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  &__card {
    width: 21.25rem;
    height: 31.563rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    color: white;
    position: relative;

    &--hawaii {
      background-image: url("../assets/images/hawaii.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--iceland {
      background-image: url("../assets/images/iceland.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--greece {
      background-image: url("../assets/images/greece.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__content {
    position: absolute;
    bottom: 0.2rem;
    right: 1.2rem;
    font-size: 1.8rem;
  }
}

.primary__button {
  font-size: 1.2rem;
  width: 12.75rem;
  height: 2.75rem;
  background-color: #DB7A4E;
  color: white;
  border-radius: 25px;
  border: none;
  letter-spacing: 0.06rem;
}