*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', serif;
    font-weight: 100;
    font-size: 1.063rem;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    padding: 0 7.8rem;
    background-color: #FFFFFF;

    &__title {
        text-decoration: none;
        color: #335576;
    }

    &__ul {
        list-style: none;
        display: flex;
    }

    &__li {
        margin: 0.7rem;
        font-size: 1.17rem;
    }

    &__a {
        text-decoration: none;
        color: black;

        &--active {
            padding: 0.6rem 0;
            border-bottom: 3px solid #DB7A4E;
        }
    }
}

.footer {
    height: 15.313rem;
    background-color: #FEFAF5;
    display: flex;
    justify-content: center;
    gap: 7rem;
    align-items: flex-start;
    color: #335576;
    padding-top: 2rem;

    &__contact, &__hours, &__social, {
        height: 6.875rem;
        width: 11.25rem;
    }

    &__title {
        font-size: 1.8rem;
    }

    &__info {
        font-size: 0.8rem;
        color: #DB7A4E;
    }

    &__time {
        font-size: 1.1rem;
    }

    &__hours {
        display: flex;
        flex-direction: column;
        width: 33.75rem;

        &-container {
            display: flex;
            justify-content: space-between;
            margin-top: -0.8rem;
        }
    }

    &__image {
        display: flex;
        justify-content: space-between;
        margin-top: 3.3rem;
        height: 2rem;
        width: 10.313rem;
    }
}
